extends layout

block content

  h1= title
  br
  div.container
    div(ng-controller="weatherCtrl as vm")

      //- creates an unordered list of data points in descending order from most recent to oldest.
      //- used for diagnostic work.  limitTo: filter sets the number of values to be
      //- displayed
      //- ul
      //-   li.data(ng-repeat="data in ( vm.all| orderBy: 'created':true | limitTo: 2)")
      //-     | {{ "D3 =>> Device ID: " + data.device + " temperature: " + data.temperature + "F, RH " + data.humidity + "%. " }}

      //- lists all data in the database
      //- p {{vm.all}}

      //- creates a table of sensor values
      //- div.weather(ng-repeat="data in ( vm.all | orderBy: 'created':true | limitTo: 10)")
      //-   dl
      //-     dt Device ID:
      //-     dd {{ data.device }}
      //-     dt Temperature
      //-     dd {{ data.temperature + "F" }}
      //-     dt Relative Humidity"
      //-     dd {{ data.humidity + "%. " }}
      div.card
        div(ng-controller="d3ChartLiveCtrl")
          nvd3(options="options" data="data" class="with-3d-shadow with-transitions")

      div.card
        div(ng-controller="d3Ctrl")
          nvd3(options="options" data="data" class="with-3d-shadow with-transitions")


