extends layout

block content

  h1= title

  div(ng-controller="weatherCtrl as vm")
    h2 Weather Data Measurements:
    //- p {{vm.all}}

    //- ul
    //-   li.data(ng-repeat="data in ( vm.all | orderBy: 'created':true | limitTo: 10)")
    //-     | {{ "Device ID: " + data.device + " temperature: " + data.temperature + "F, RH " + data.humidity + "%. " }}

    //- div.weather(ng-repeat="data in ( vm.all | orderBy: 'created':true | limitTo: 10)")
    //-   dl
    //-     dt Device ID:
    //-     dd {{ data.device }}
    //-     dt Temperature
    //-     dd {{ data.temperature + "F" }}
    //-     dt Relative Humidity"
    //-     dd {{ data.humidity + "%. " }}
    ul
      li.data(ng-repeat="data in ( vm.weatherDataD3 | orderBy: 'created':true | limitTo: 2)")
        | {{ "D3 =>> Device ID: " + data.device + " temperature: " + data.temperature + "F, RH " + data.humidity + "%. " }}

    div(ng-controller="d3ChartLiveCtrl")
      nvd3(options="options" data="data" class="with-3d-shadow with-transitions")


    div(ng-controller="d3Ctrl")
      nvd3(options="options" data="data" class="with-3d-shadow with-transitions")


